.button{
    float: right;
    margin-right: 1.5rem;
    margin-top: 1rem;
    
    width: 6rem;
    height: 1.8rem;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
  
    transition: all 1s;
  }
  
  .button:hover{
    transform: scale(1.1);
    background: black;
    color: #f5f0f0;
  }